
<<<<<<< HEAD
/*Add Color Palette*/
=======
/*-----------------------------------------------ADD COLOUR PALETTE ---------------------------------------*/


/* Giving Color and Background Colour */
>>>>>>> staging

.has-cherry-pink-background-color {
    background-color: #D8A1A2;
}

.has-cherry-pink-color {
    color: #D8A1A2;
}

.has-light-cherry-pink-background-color {
    background-color: #F0DBDB;
}

.has-light-cherry-pink-color {
    color: #F0DBDB;
}

.has-black-background-color {
    background-color: #000000;
}

.has-black-color {
    color: #000000;
}

.has-white-background-color {
    background-color: #ffffff;
}

.has-white-color {
    color: #ffffff;
}

<<<<<<< HEAD
/*    Creating a Block Quote */
=======
/*-----------------------------------------------CREATING BLOCK QUOTE  ---------------------------------------*/
>>>>>>> staging
.is-style-pink-quote.rich-text.block-editor-rich-text__editable.wp-block-quote, .is-style-pink-quote, .is-style-pink-quote{
    color: #D8A1A2;
    background-color: black;
    padding: 0px;
    padding-top: 0px;
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    width: 50%;
    margin: 20px 25%;
}


.wp-block-quote__citation, .wp-block-quote cite, .wp-block-quote footer{
    color: rgb(197, 197, 197);
    font-family: 'Open Sans', sans-serif;
}


<<<<<<< HEAD
/* Creating Block paragraph*/
=======
/*-----------------------------------------------CREATING BLOCK PARAGRAPH---------------------------------------*/
<<<<<<< HEAD
>>>>>>> staging
=======

/* Paragraph Glorify --- color pink with a background and font style */
>>>>>>> staging
.is-style-paragraph-glorify.rich-text.block-editor-rich-text__editable, .is-style-paragraph-glorify{
    color: #FFD1D1;
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

<<<<<<< HEAD
<<<<<<< HEAD
/*   Registering an Image  */
=======
/*-----------------------------------------------REGISTERING AN IMAGE---------------------------------------*/
>>>>>>> staging
=======
/*------ NO Margin Para---------*/
.wp-block-paragraph.is-style-no-margin-para, .is-style-no-margin-para{
    margin: 0% 0% 0% 6%;
}


/*------ NO Margin Left Para---------*/
.wp-block-paragraph.is-style-no-margin-para, .is-style-no-marginleft-para {
    margin: 0% 15% 0% 2%;
}

/*-----------------------------------------------REGISTERING AN IMAGE---------------------------------------*/

/*------ Image Glorify ---------*/
>>>>>>> staging
.wp-block-image.is-style-image-glorify, .wp-block-image.is-style-default {
    margin: 0px;
    margin: 0px;
    max-width: 100%;
    margin-left: 10%;
}


.wp-block-image.is-style-image-glorify, .wp-block-image.is-style-default .aligncenter{
    margin-left: 9%;
}

/*------ Image Background ---------*/
.wp-block-image.is-style-image-background{
    margin: 0px;
    margin: 0px;
    max-width: 100%;
    margin-left: 10%;
    background-color: black;

}




<<<<<<< HEAD
/* Creating Columns */
=======
/*-----------------------------------------------CREATING COLUMNS ---------------------------------------*/
<<<<<<< HEAD
>>>>>>> staging
=======

/* --- Black Column --- */
>>>>>>> staging
.wp-block-column.is-style-black-column, .wp-block-column.is-style-default{
    background-color: black;
    height: auto; 
    padding: 3% 3% 3% 1%;
<<<<<<< HEAD
    margin-right: 20px;
=======
>>>>>>> staging
    text-align: center;
    
}

/* --- Pink Column --- */
.wp-block-column.is-style-pink-column{
    background-color: #D8A1A2;
    height: auto; 
}

<<<<<<< HEAD
/* Setting Heading */
=======
/*-----------------------------------------------SETTING HEADING ---------------------------------------*/
<<<<<<< HEAD
>>>>>>> staging
=======

/* --- Pink Heading  --- */
>>>>>>> staging
.is-style-pink-heading.rich-text.block-editor-rich-text__editable,.wp-block-heading ,.is-style-pink-heading{
    font-family: 'Permanent Marker', cursive;
    color: #D8A1A2;
}

/* --- Main Heading  --- */
.is-style-main-heading{
    color: black;
    border-left: #D8A1A2 solid 20px;
    padding: 0px;
    font-family: 'Permanent Marker', cursive;
    padding-left: 1rem;
<<<<<<< HEAD
    margin-left: 15%;
}

.wp-block-paragraph.is-style-default, .is-style-default{
    margin: 2% 13%;
}

=======
    margin-left: 9%;
}

<<<<<<< HEAD
/*-----------------------------------------------CREATING A PARAGRAPH ---------------------------------------*/
>>>>>>> staging
.wp-block-paragraph.is-style-no-margin-para, .is-style-no-margin-para{
    margin: 0% 0% 0% 6%;
}
=======
>>>>>>> staging

/*-----------------------------------------------CREATING A SEPARATOR ---------------------------------------*/

/* --- Removing border from a separator --- */
.wp-block-separator.has-background:not(.is-style-dots) {
    border-bottom: none;
    height: 10px;
}

<<<<<<< HEAD
<<<<<<< HEAD
/*  Styling Gallery */
=======
/*-----------------------------------------------STYLING GALLERY ---------------------------------------*/
>>>>>>> staging
=======


/*-----------------------------------------------STYLING GALLERY ---------------------------------------*/
/* --- Gallery Select --- */
>>>>>>> staging
.wp-block-gallery.is-style-gallery-select{
    margin: 0px 13%;
    padding: 0% 13%;
    color: black;
    font-size: 30px;
}


.wp-block-gallery.is-style-gallery-select .blocks-gallery-item figcaption{
    color: black;
    background: none;
    background-color: #F0DBDB;
    padding: 0rem;
    margin-top: 1rem;
    font-family: 'Permanent Marker', cursive;
}

<<<<<<< HEAD

/*  Styling the table */
=======
/*-----------------------------------------------ADDING CUSTOM TABLE ---------------------------------------*/
>>>>>>> staging

/* --- Glorify Table --- */
.wp-block-table.is-style-glorify-table{
    text-align: center;
    margin-left: 19%;
}

/* --- Table  --- */
.is-style-glorify-table.wp-block-table td{
    border: #F0DBDB solid 3px;
    background: white;

}

/* --- Table Row  --- */
.is-style-glorify-table tr{
    border: #F0DBDB solid 3px;
<<<<<<< HEAD

}


/* Styling the list */
=======
}


/*-----------------------------------------------STYLING LIST ---------------------------------------*/
>>>>>>> staging
.is-style-glorify-list {
    list-style-type: armenian;
    margin-top: -65px;
font-size: 20px;
margin-left: -30px;
    
}





<<<<<<< HEAD
/*Mobile View*/
=======
/*-----------------------------------------------MOBILE VIEW ---------------------------------------*/
>>>>>>> staging


@media only screen and (max-width: 900px) {


    /* Font size of heading */
    h2.is-style-pink-heading {
        font-size: 20px !important ;
    }

 


    
<<<<<<< HEAD
=======

    /*-----------------------------------------------SETTING FONT SIZE OF PARAGRAPH  ---------------------------------------*/
>>>>>>> staging
    .is-style-paragraph-glorify.rich-text.block-editor-rich-text__editable,.wp-block-paragraph.is-style-default, .is-style-paragraph-glorify{
        font-size: 0.85rem;
    }



<<<<<<< HEAD
    text__editable.wp-block-quote, .is-style-pink-quote, .is-style-pink-quote {
=======
    .text__editable.wp-block-quote, .is-style-pink-quote, .is-style-pink-quote {
>>>>>>> staging
        margin: 0;
        width: 100%;
        margin-top: -20px;
    }

    .wp-block-paragraph.is-style-default, .is-style-default, .is-style-no-margin-para {
        margin: 2% 5%;
    }

<<<<<<< HEAD
=======
    /*-----------------------------------------------STYLING TABLE ---------------------------------------*/
>>>>>>> staging
    .wp-block-table.is-style-glorify-table{
        text-align: center;
        margin-left: 0%;
        width: 90%;
        float: left;
    }
    
<<<<<<< HEAD
=======
    /*-----------------------------------------------STYLING LIST ---------------------------------------*/
>>>>>>> staging
    .is-style-glorify-list ul{
        list-style-type: armenian;
        margin-top: -65px;
    font-size: 20px;
    float: left;
    }



}