/* CSS for styling custom post */
/*
*  Custom Post - Salons
* Custom Post Name - Glorify Salon Name
*/


/* Setting the width and margin for custom page*/
#salon_page {
    max-width: 95rem;
    margin: auto;
}

#salon_page .entry-content {
    margin: 2rem;
}

/* ----------------------------------------  HEADING 01     ----------------------------*/
.custom-entry-salon-title, .archiveTitle {
    background: black;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
}

/* ----------------------------------------  BUTTON    ----------------------------*/
.button.success {
    background-color: black;
    color: #F5E6E6;
}

.button.success:hover{
    background-color: #D8A1A2;
    color: black;
}
