

/*       HEADER      */

#top-header{
    background-color: #D8A1A2;
    font-family: 'Kaushan Script', cursive;
    font-size: 15px;
    width: 100%;
}

.grid-container {
    max-width: 120rem;
}

li{
    margin: 2px;
    list-style: none;
    margin-left: 1.5rem;
}

/*    Customize the nav */
div#primary-menu ul {
    margin:20px 0px 20px 0px;
    list-style-type: none;
    list-style: none;
    list-style-image: none;
    text-align:right;
}
div#primary-menu li {
    padding: 0px 20px 0px 0px;
    display: inline;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
} 
div#primary-menu a { 
    color:#000000;
}

/* LOGO */

.custom-logo{
    width: 70%;
}


/*  FOOTER */

#colophon{
    background-color: black;
}


#colophon li ,h1, h2{
    color: #F5E6E6;
    
}

#colophon h2{
    margin-left: 15%;
    margin-top: 10%;
    font-family: 'Kaushan Script', cursive;
}

#colophon h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
}

.fillform{
    background-color: #F5E6E6;
    height: 3rem;
    width: 100%;
    margin-right: 2rem
}

.final-footer{
    background-color: #D8A1A2;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .custom-logo{
        width: 100%;
    }

    #colophon h1{
        margin-left: 30%;
        font-size: 30px;
    }

    .cat{
        margin-left: 10%;
    }

    #cosmo{
        margin-left: 10%;
    }

    .fillform{
        width: 80%;
    }

    #colophon h2{
        margin-left: 20%;
    }
    

}