/* Coding for the pages og woocommerce and woocommerce plugin is done over here */

/*----------------------------------------------   POST ARCHIVE  -------------------------------------------------------*/

.woocommerce .woocommerce-ordering {
    margin: 2rem 17.3em;
	
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin: 0 3.9% 4em 0;
    width: 15%;
    margin-left: 0;
	border: solid 0.5px black;
    padding: 1.5rem;
	transform: translateX(85%);
	height: 26.5rem;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 , .woocommerce ul.products li.product .price del, .woocommerce ul.products li.product .price{
    color: black;
	font-family: 'Montserrat', sans-serif;
}

.woocommerce ul.products li.product .button {
    color: #F5E6E6;
	font-family: 'Permanent Marker', cursive;
	background-color: #111;
}

.woocommerce span.onsale {
    min-width: 4em;
    background-color: #000000;
    color: #F5E6E6;
}

/*----------------------------------------------  CART PAGE   -------------------------------------------------------*/

.woocommerce-cart-form {
    margin-left: 20%;
    margin: 0% 10%;
}

.woocommerce-cart-form thead {
    background: #000000;
    color: #D8A1A2;
	font-family: 'Permanent Marker', cursive;
}

.woocommerce table.shop_table td {
    border-top: none
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 120px;
    box-shadow: none;
}

tbody tr:nth-child(2n) {
    background-color: #F5E6E6!important;
}


.woocommerce-error, .woocommerce-info, .woocommerce-message {
    background-color: #F5E6E6;
    color: #515151;
    border-top: 1px solid #D8A1A2;
	border-top-color: #D8A1A2;
}

.woocommerce-message::before {
    content: "\e015";
    color: #D8A1A2;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    color: #D8A1A2;
    background-color: #000000;
	font-family: 'Permanent Marker', cursive;
}

#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
    border: 1px solid #D8A1A2;
}

#coupon_code::placeholder {
    color: #D8A1A2;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 40%;
    margin: 0% 10%;
}

.cart_totals h2{
	color: #111;
}

.woocommerce table.shop_table {
    border: 1px solid #F5E6E6;
}

.wc-proceed-to-checkout .checkout-button button {
	background-color: #111;
}

.woocommerce-info::before,  .woocommerce-info::after{
    color: #D8A1A2;
}

.showcoupon{
	color: #D8A1A2;
}

.showcoupon:hover{
	color: black;
	transform: scale(0.9);
}


/*----------------------------------------------   CHECKOUT PAGE  -------------------------------------------------------*/

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: none;
    width: 48%;
    margin: 0% 25%;
}
.woocommerce-billing-fields h3, .woocommerce-additional-fields h3{
	font-family: 'Permanent Marker', cursive;

}

#order_review_heading{
	font-family: 'Permanent Marker', cursive;
	margin: 0% 25% 1% 25%;

}

#order_review {
    margin: 0% 25%;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 20%;
    margin: 0% 5%;
	font-family: 'Permanent Marker', cursive;
}

.woocommerce h2{
    color: black;
	font-family: 'Permanent Marker', cursive;
	margin-left: 32%;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    border: 1px solid #d3ced2;
    padding: 20px;
    margin: 2em 35rem;
    text-align: left;
    border-radius: 5px;
}

.woocommerce-account .woocommerce-MyAccount-content {
    float: right;
    width: 62%;
    margin-right: 8%;
}

.woocommerce-Address-title .title{
	margin: 0%;

}

/*----------------------------------------------   SINGLE PRODUCT PAGE  -------------------------------------------------------*/

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
    -webkit-transition: all cubic-bezier(.795,-.035,0,1) .5s;
    transition: all cubic-bezier(.795,-.035,0,1) .5s;
    margin: 0% 0% 0% 26.5%;
    width: 50%;
}

.woocommerce-product-details__short-description p {
    margin-right: 20%;
	margin-left: -25%;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
	right: 0em;
    left: 19.3em;
}

.woocommerce span.onsale {

    left: 15em;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #D8A1A2;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #000000  !important;
    color: #D8A1A2 !important;
}

.woocommerce-additional-fields {
    margin-left: -57%;
    margin-top: 5%;
    width: 105%;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: none;
    border-radius: 5px;
}

/*----------------------------------------------   CONTACT FORM  -------------------------------------------------------*/
div.wpforms-container-full {
    margin-bottom: 24px;
    margin: 0% 20%;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
	font-family: 'Permanent Marker', cursive;
	color: #000000;

}

#wpforms-submit-462 {
    color:  #D8A1A2;
    background-color:  #000000;
	font-family: 'Permanent Marker', cursive;
}

/*----------------------------------------------   LOGIN PAGE  -------------------------------------------------------*/

.woocommerce form.login, .woocommerce form.register {
    margin: 2em 20rem;
}


/*  Tablet View    */

@media only screen and (min-width: 700px) and (max-width: 1200px ) {

    /*----------------------------------------------   LOGIN PAGE  -------------------------------------------------------*/

.woocommerce form.login, .woocommerce form.register {
    margin: 0rem;
}



}

/*  Mobile View    */

@media only screen and (max-width: 699px) {

        /*----------------------------------------------   LOGIN PAGE  -------------------------------------------------------*/

.woocommerce form.login, .woocommerce form.register {
    margin: 0rem;
}

}